// CORES
$azul: #302E7A;
$branco: #FFFFFF;
$cinza: #D9D9D9;
$preto: #000000;
$verde: #159639;
$vermelho: #C4161C;

// FONTE
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;600;700&display=swap');
$fonte_padrao: 'Kumbh Sans', sans-serif;